<section id="section-info">
    <div class="section-content">
        <div class="section-text">
            <h1>Nossa iniciativa</h1>
            <p>Somos desenvolvedores que se dedicam a fazer projetos perfeitos e entregar valor para todos os seus
                clientes. Gostamos de ver clientes satisfeitos com projetos feitos com carinho, atenção e qualidade
                altíssima.</p>
        </div>
        <div class="section-img">
            <img src="../../../assets/section2_thinking-man.svg" alt="Homem pensativo">
        </div>
    </div>
</section>