<section id="form">
    <div class="form-content">
        <div class="form-text">
            <h1>Mande um oi, ligamos para você!</h1>
            <p>Preencha seus dados para que a gente possa entrar em contato.</p>
        </div>


        <form>
            <mat-form-field class="form-item" appearance="outline">
              <mat-label class="form-label" for="name">Nome Completo</mat-label>
              <input matInput type="text" id="name" class="form-control" placeholder="Ex: Mateus Ávila Isidoro">
            </mat-form-field>

            <mat-form-field class="form-item" appearance="outline">
              <mat-label class="form-label" for="whatsapp">Whatsapp</mat-label>
              <input matInput type="tel" id="whatsapp" class="form-control" placeholder="(99) 99999-9999">
            </mat-form-field>
            
            <button mat-raised-button class="btn-form">Peça uma reunião</button>
        </form>
    </div>
</section>